.footer {
  box-sizing: border-box;
  margin-top: 70px;

  &__title {
    margin-top: 0;
    align-self: flex-start;
  }

  &__subtitle {
    margin-top: 14px;
    align-self: flex-start;
  }

  &__button {
    margin-top: 95px;
    width: 260px;
    height: 44px;

    &:hover {
      @include hover-effects;
    }
  }
}
