.message {
  margin-top: 70px;
  padding: 0 20px;

  @media screen and (min-width: 1440px){
    margin-top: 120px;
  }

  &__title {
    margin: 0 auto;

    @media screen and (min-width: 768px){
      font-size: 33px;
      line-height: 37px;
    }

    @media screen and (min-width: 1440px){
      font-size: 60px;
      line-height: 68px;
    }
  }

  @media screen and (min-width: 768px){
    padding: 0 50px;
    align-self: center;
    text-align: left;
  }

  @media screen and (min-width: 1440px){
    padding: 0 170px;
  }
}

