.bg-block {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  &_type_black {
    background-color: $dark-block-color;

    @media screen and (min-width: 768px) {
      padding: 50px;
    }

    @media screen and (min-width: 1440px) {
      padding: 60px 160px;
    }
  }

  &_type_white {
    background-color: $light-block-color;
    min-width: 300px;
    min-height: 284px;

    @media screen and (min-width: 768px) {
      min-width: 349px;
      padding: 30px;
    }

    @media screen and (min-width: 1440px) {
      min-width: 540px;
      min-height: 308px;
      padding: 40px;
    }
  }

}
