.button {
  padding: 0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;

  &_color_white {
    background: #fff;
    color: #222;

    &:hover {
      opacity: .93;
    }
  }

  &_color_black {
    background: #222;
    color: #fff;

    &:hover {
      opacity: .85;
    }
  }
}
