.button {
  padding: 0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }

  &_color_white {
    background: $light-button-bg;
    color: $light-button-text;

    &:hover {
      opacity: .93;
    }
  }

  &_color_black {
    background: $dark-button-bg;
    color: $dark-button-text;

    &:hover {
      opacity: .85;
    }
  }
}
