.subtitle {
  padding: 0;
  margin-bottom: 0;
  font-weight: 400;

  &_light {
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.7);

    @media screen and (min-width: 768px) {
      font-size: 15px;
      line-height: 20px;
    }

    @media screen and (min-width: 1440px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &_dark {
    font-size: 15px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.6);
  }
}
